body {
  background-image: url(../src/assets/Calci.jpg);
  background-size: cover;
}

.calculator {
  border: 2px solid gray;
  width: 350px;
  border-radius: 8px;
  margin-left: 35%;
  margin-top: 45px;
  background-color: white;
}
